
body, header {
    font-family: Calibri;
}

header {
    background-color: lightgray;
    padding: 30px;
    text-align: center;
}

.show {
    display: block;
}

.table-div table, th, tr, td {
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
}

.table-div table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table-div table thead tr {
    background-color: lightseagreen;
    color: #ffffff;
    text-align: left;
}

button {
    border: none;
    border-radius: 5px;
    margin: 0 20px;
    padding: 5px 10px;
    cursor: pointer;
}

button a {
    text-decoration: none;
}

.new-tournament, .addTeamDiv {
    background-color: lightslategray;
    padding: 20px;
    text-align: center;
}

.new-tournament input {
    padding: 5px;
}

.addTeamDiv {
    padding: 0;
}

.hide {
    display: none;
}

.for-select {
    text-align: center;
    padding: 20px;
}

.check-shot {
    text-align: center;
}

.for-select input {
    width: 30px;
}

.blue {
    background-color: blue;
}
